@{
    ViewBag.Title = "Home Page";
}

<h3>OmniKassa 2.0 Payment SDK Example (MVC @ViewBag.Version @ViewBag.Runtime)</h3>
<form>
    <input type="submit" name="submit" value="Place order" formaction="/Home/PlaceOrder" formmethod="post" />
</form>
