trigger:
  branches:
    include:
      - master
      - feature/*
schedules:
  - cron: 0 22 * * 0
    branches:
      include:
        - master
    always: true
name: $(date:yyyyMMdd)$(rev:.r)
resources:
  repositories:
    - repository: self
      type: git
      ref: master
variables:
  buildConfiguration: 'Release'
jobs:
  - job: Job_1
    displayName: Agent job 1
    pool:
      name: Rabo-Windows-Production
    steps:
      - checkout: self
        persistCredentials: True
      - task: CredScan@2
        displayName: Run Credential Scanner
      - task: NuGetToolInstaller@0
        displayName: Use NuGet 5.11.0
        inputs:
          versionSpec: 5.11.0
      - task: NuGetCommand@2
        displayName: NuGet restore
        inputs:
          solution: $(BuildParameters.solution)
      - task: SonarQubePrepare@4
        displayName: Prepare analysis on SonarQube
        inputs:
          SonarQube: $(sonarQubeServiceConnection)
          projectKey: nl.rabobank.gict.payments_savings.omnikassa_frontend.sdk:dotnet
          projectName: Rabobank OmniKassa - .NET SDK
          extraProperties: sonar.exclusions=samples/**
      - task: DotNetCoreCLI@2
        displayName: Build Omnikassa SDK
        inputs:
          projects: OmniKassa.sln
          arguments: '--configuration $(buildConfiguration)'
      - task: DotNetCoreCLI@2
        displayName: Test Assemblies
        inputs:
          command: test
          projects: OmniKassa.sln
          publishTestResults: true
          arguments: '--collect "Code coverage"'
      - task: SonarQubeAnalyze@4
        displayName: Run Code Analysis
      - task: SonarQubePublish@4
        displayName: Publish Quality Gate Result
      - task: CmdLine@2
        displayName: Set Java to Version 11
        inputs:
          script: >-
            echo "##vso[task.setvariable variable=JAVA_HOME]$(JAVA_HOME_11_X64)"

            echo "##vso[task.setvariable variable=PATH]$(JAVA_HOME_11_X64)\bin;$(PATH)"
      - task: NexusIqPipelineTask@1
        displayName: Nexus IQ policy evaluation
        continueOnError: true
        inputs:
          nexusIqService: $(nexusServiceConnection)
          applicationId: omnikassa-frontend-sdk-net
          stage: release
          scanTargets: src/**/*.dll
      - task: FortifySCA@7.1.0
        displayName: Run Fortify
        inputs:
          applicationType: other
          fortifyProjects: OmniKassa.sln
          fortifyBuildId: rofe
          runFortifyUpload: true
          runFortifyScan: false
          scaVerbose: true
          scaDebug: true
          fortifyServerName: $(fortifyServiceConnection)
          fortifyApplicationName: ps_omnikassa-dotnet-sdk_fortify
          fortifyApplicationVersion: 1.0
          additionalScanParams: '-exclude $(System.DefaultWorkingDirectory)/samples/**/* -exclude $(System.DefaultWorkingDirectory)/tests/**/*'
          buildAnalyzerParams: '-exclude $(System.DefaultWorkingDirectory)/samples/**/* -exclude $(System.DefaultWorkingDirectory)/tests/**/*'
      - task: PostAnalysis@1
        displayName: Post Analysis
        inputs:
          CredScan: true
      - task: PublishSymbols@2
        displayName: Publish symbols path
        continueOnError: True
        inputs:
          SearchPattern: '**\bin\**\*.pdb'
          PublishSymbols: false
          SymbolServerType: TeamServices
      - task: PublishPipelineArtifact@1
        displayName: Publish Artifact
        condition: succeededOrFailed()
        inputs:
          targetPath: $(System.DefaultWorkingDirectory)/src/OmniKassa/bin/Release/
